{% extends 'base.html' %}

{% block content %}
  <h1>{{ user.username|capfirst }}'s Profile</h1>
    <ul>
      <li>birthday: {{ user.birth_date }}</li>
    </ul>
  <h2>{{ user.username|capfirst }}'s Events</h2>
  <a href="{% url 'event_new' %}">Create new event</a>
  <h3>Events you created<h3>
  <p>
    <ul>
      {% for event in events %}
        <li><a href="{% url 'event' pk=event.pk %}">{{ event.title }}</a>
      {% endfor %}
    </ul>
  </p>
  <h3>Invitations to you<h3>
    <ul>
    </ul>
{% endblock %}
