{% extends 'base.html' %}

{% block content %}
  <h2>{{ event.title }}</h2>
    <p>created by: {{ event.creator }}</p>
    <p>description: {{ event.description }}</p>
    <p>address: {{ event.address }}</p>
    <p>start: {{ event.start_time }}</p>
    <p>end: {{ event.end_time }} </p>
  {% if is_creator %}
    {% if invitation_count <= 0 %}
      <h3>Invite People!</h3>
    {% else %}
      <h3>You invited:</h3>
      <ul>
        {% for invitee in event.get_invitees %}
          <li>{{ invitee.username }}</li>
        {% endfor %}
      </ul>
      <h3>Who's going:</h3>
      <ul>
        {% for yes in event.confirmed_yes %}
          <li>{{ yes.invitee.username }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <p>
      <a href="{% url 'invitations:update_event' pk=event.pk %}">Edit Event</a>
    </p>
    <p>
      <a href="{% url 'invitations:destroy_event' pk=event.pk %}">Delete Event</a>
    </p>
  {% elif is_invited %}
    <h3>RSVP</h3>
      You are attending: {{ attendance }}
      <p> <a href="{% url 'invitations:update_rsvp' pk=rsvp.pk %}">Change RSVP</a> </p>
  {% endif %}
{% endblock %}
