{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid text-center">
    <h1>Register</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="form-row">
        <div class="form-group col-md-6">
          {{ form.first_name.errors }}
          <label for="{{ form.first_name.id_first_name }}">First name:</label>
          <div class="form-control">{{ form.first_name }} </div>
        </div>
        <div class="form-group col-md-6">
          {{ form.last_name.errors }}
          <label for="{{ form.last_name.id_last_name }}">Last name:</label>
          <div class="form-control">{{ form.last_name }}</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          {{ form.email.errors }}
          <label for="{{ form.email.id_email }}">Email:</label>
          {{ form.email }}
        </div>
        <div class="form-group col-md-6">
          {{ form.birth_date.errors }}
          <label for="{{ form.birth_date.id_birth_date }}">Birthday:</label>
          {{ form.birth_date }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          {{ form.username.errors }}
          <label for="{{ form.username.id_username }}">Username:</label>
          {{ form.username }}
        </div>
        <div class="form-group col-md-6">
          {{ form.password1.errors }}
          <label for="{{ form.password1.id_password1 }}">Password:</label>
          {{ form.password1 }}
        </div>
      </div>
      <div class="form-row">
        {{ form.password2.errors }}
        <label for="{{ form.password2.id_password2 }}">Confirm password:</label>
        {{ form.password2 }}
        <small id="passwordHelpBlock" class="form-text text-muted"> </small>
      </div>
      <button type="submit">Sign up</button>
    </form>
  </div>
{% endblock %}
