{% load staticfiles %}
<html>
    <head>
        <title>Sarah's Birthday App</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
      <div class="container-fluid page-header">
        <h1 class="text-center"> Sarah's Birthday App </h1>
        {% if user.is_authenticated %}
          <ul class="nav nav-pills">
            <li role="presentation">
              <a href="{% url 'logout' %}">Log out</a>
            </li>
            <li role="presentation">
              <a href="{% url 'user_profile' pk=user.pk %}">Profile</a>
            </li>
            <p class="navbar-text navbar-right">
              Hello {{ user.username }}
            </p>
          </ul>
        {% else %}
          <ul class="nav navbar-nav navbar-right">
            <li role="presentation">
              <a href="{% url 'login' %}" class="top-menu">
                  Sign in
              </a>
            </li>
            <li role="presentation">
              <a href="{% url 'register' %}" class="top-menu">
                  Register
              </a>
            </li>
            <li role="presentation">
              <a href="{% url 'welcome' %}">
                Home
              </a>
            </li>
          </ul>
        {% endif %}
      </div>
      {% block content %}
      {% endblock %}
    </body>
</html>
