<html>
    <head>
        <title>Sarah's Birthday App</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="page-header">
          <h2> Sarah's Birthday App </h2>
          {% if user.is_authenticated %}
            <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
            <a href="{% url 'user_profile' pk=user.pk %}">Profile</a>
          {% else %}
            <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span>Login</a>  |
            <a href="{% url 'register' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span>Register</a>
          {% endif %}
           | <a href="{% url 'welcome' %}">Home</a>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
