{% extends 'base.html' %}

{% block content %}
  <h1>{{ user.username|capfirst }}'s Profile</h1>
    <ul>
      <li>name: {{ user.first_name}}</li>
      <li>email: {{ user.email}}</li>
      <li>birthday: {{ user.birth_date }}</li>
    </ul>
  <h2>{{ user.username|capfirst }}'s Events</h2>
  <a href="{% url 'invitations:create_event' %}">Create new event</a>
  <h3>Events you created</h3>
  {% if event_count <= 0 %}
    <p>No events yet</p>
  {% else %}
    <ul>
      {% for event in events %}
        <li><a href="{% url 'invitations:event' pk=event.pk %}">{{ event.title }}</a>
      {% endfor %}
    </ul>
  {% endif %}
  <h3>Invitations to you</h3>
  {% if invitation_count <= 0 %}
    <p>No invitations yet</p>
  {% else %}
    <ul>
      {% for invitation in invitations %}
        <li><a href="{% url 'invitations:event' pk=invitation.pk %}">{{ invitation.title }}</a>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
