{% extends 'base.html' %}

{% block content %}
  <h1>Welcome</h1>
  {% if authenticated %}
    <h2>Hello {{ username }}</h2>
    <a href="{% url 'user_profile' pk=user.pk %}">Click here to view your events</a>
  {% else %}
    <a href="{% url 'login' %}" class="top-menu" role="button">
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-lock"></span>
        Login
      </button>
    </a>
    <a href="{% url 'register' %}" class="top-menu" role="button">
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-lock"></span>
        Register
      </button>
    </a>
  {% endif %}
{% endblock %}
